<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="test" value="val" />
    <add key="oauth.facebook.AppId" value="231464590266507" />
    <add key="oauth.facebook.AppSecret" value="9dd6ce54b4405dd1325d271d2419bc34" />
    <add key="oauth.facebook.Permissions" value="email,read_stream,offline_access" />
    <add key="RecreateTables" value="True" />
  </appSettings>
  <connectionStrings />
  <location path="api">
    <system.web>
      <httpHandlers>
        <add path="*" type="NServiceKit.WebHost.Endpoints.NServiceKitHttpHandlerFactory, NServiceKit" verb="*" />
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <add path="*" name="NServiceKit.Factory" type="NServiceKit.WebHost.Endpoints.NServiceKitHttpHandlerFactory, NServiceKit" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
      </handlers>
    </system.webServer>
  </location>
  <system.web>
    <!--        
            Set compilation debug="true" to insert debugging    
            symbols into the compiled page. Because this    
            affects performance, set this value to true only 
            during development.    
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies />
    </compilation>
    <!--
            The <authentication> section enables configuration  
            of the security authentication mode used by    
            ASP.NET to identify an incoming user.  
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically,  
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.  

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off" />
    <httpHandlers>
      <!--<add path="*" type="NServiceKit.WebHost.Endpoints.NServiceKitHttpHandlerFactory, NServiceKit" verb="*"/>-->
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS. 
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <!--<add path="*" name="NServiceKit.Factory" type="NServiceKit.WebHost.Endpoints.NServiceKitHttpHandlerFactory, NServiceKit" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true"/>-->
    </handlers>
  </system.webServer>
<runtime>
		
		
	<!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
		     to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
		 -->
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
   <dependentAssembly>
    <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
   </dependentAssembly>
  </assemblyBinding>
</runtime></configuration>